<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="EaseMyTrip Automation Suite">
    <test name="EaseMyTrip Test Cases">
        <classes>
            <!-- Existing Cabs Test Cases -->
            <class name="org.easemytrip.tests.TC_01_LaunchAndVerifyHomePage"/>
            <class name="org.easemytrip.tests.TC_02_NavigateToCabsAndSelectOutstation"/>
            <class name="org.easemytrip.tests.TC_03_SelectFromAndToCities"/>
            <class name="org.easemytrip.tests.TC_04_SearchAndApplySUVFilters"/>
            <class name="org.easemytrip.tests.TC_05_FindAndValidateCheapestSUV"/>

            <!-- New Hotels - Adult Count Test Cases -->
            <class name="org.easemytrip.tests.TC_20_ValidateFinalAdultCount"/>
            <class name="org.easemytrip.tests.TC_14_ExtractAdultCounts"/>
            <class name="org.easemytrip.tests.TC_15_VerifyAdultNotZero"/>
            <class name="org.easemytrip.tests.TC_16_IncrementAdultByOne"/>
            <class name="org.easemytrip.tests.TC_17_IncrementAdultByMultiple"/>
            <class name="org.easemytrip.tests.TC_18_DecrementAdultByOne"/>
            <class name="org.easemytrip.tests.TC_19_VerifyAdultDoesNotGoBelowOne"/>
            <class name="org.easemytrip.tests.TC_20_ValidateFinalAdultCount"/>
        </classes>
    </test>
</suite>